@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    font-family: 'Bellota', system-ui;
    font-family: 'Judson', serif;
}
.container{
    border-radius: 1.5rem;
    box-shadow: 10px 10px 50px black;
    width: 80%;
    margin: 50px auto;
}

.iconbar{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    flex-wrap: wrap;
    margin-left: 3rem;
    border-bottom: 2px solid #d9d9d9;
}

.input-part{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.icons{
    /* border: 1px solid red; */
    margin-right: 2rem;

}
.icons img{
    padding: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 
black;
}

.select-category{
}

.input-part select{
    border: 1px solid;
    border-radius: 5px;
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    font-family: 'Bellota', system-ui;
}

.search-input{
    width: 300px;
    height: 40px;
    border: 1px solid ;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    margin-left: 1rem;
    padding: 0.5rem;
}

.search-input input{
    background-color: inherit;
    border: none;
    font-size: 1rem;
    
}
.support{
    /* display: flex; */
    align-items: end;
    /* border: 1px solid ; */
    text-align: right;
    margin-left: 1rem;
}
.support .support-text{

}

.support .support-number{
    font-size: 2em;
}

.navbar{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding: 10px 50px;
    margin-left: 3rem;

}

.button{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    height: 40px;
    font-size: 1.3rem;
    background-color: #d9d9d9;
    font-style: italic;
    gap: 1rem;

}

.nav{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    text-decoration: none;
    flex-wrap: wrap;

}

li{
    display: inline-block;
    margin-left: 1rem;
}
header{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 5rem;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./img/stock.jpg);
}

.essential{
    background-color: #d5dee5;
    display: flex;
    /* flex: 3; */
    width: 70%;
    height: 300px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.essential-text{
    font-size: 2rem;
    font-style: italic;
    padding: 20px;
    letter-spacing: .3px;
}
.lighting{
    background-color: #FFC868;
    height: 300px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 
    black;
    /* flex: 2; */
    width: 25%;
}
.light{
    font-size: 1rem;
    /* float: right; */
    text-align: right;
    margin-top: 20px;
    font-style: 20px;
    padding: 2rem;
    font-style: italic;
}
.lighting img{
    /* height: 1rem; */
     width: 100%;
     /* border: 2px solid blue; */
    position: absolute;
    bottom: 0;
}
.categorySection{
background-color: #aea08d;
}

.categoryPart{
    padding: 2rem;
    font-size: 1.5rem;

}

.categories{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.category{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-color: #eeccec;
    padding: 1rem 2px 1rem 1rem;
    border-radius: 10px;
    font-family: 'Josefin Slab', serif;
}

.category img{
width: 100%;
height: 100%;
padding: 1rem 10px 1rem 1rem;
border-radius: 2rem;
object-fit: cover;
}

.productSection{
    background-color: #eeccec;
}

.product-part{
    padding: 2rem;
    font-size: 1.5rem;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.product{
    width: 20rem;
    height: 20rem;
    background-color: #d9d9d9;
    /* margin: 1rem; */
    text-align: center;
    box-shadow: 2px 2px 20px black;
    border-radius: 1rem;
    overflow: hidden;
}

.product img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.contact{
    background-color: #aea08d;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.expert{
    background-color: inherit;
    flex: 2;
    padding: 1rem;
}

.lookforExpert{
    font-family: 'Bellota', 
system-ui;
font-size: 2rem;
line-height: 1.5;
}

.leaveInfo{
    margin-top: 1rem;
    line-height: 1.5;
}

span{
    color: #f37705;
}

.formSection{
    background-color: inherit;
    flex: 1;
    font-size: 1.5rem;
    /* border: 2px solid red; */
}

.formElement{
    margin: 1.5rem 1rem;

}

.formElement input{
    width: 100%;
    background-color: inherit;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
}

.submit{
    padding: 1rem;
    border-radius: 5px;
    width: 13rem;
    height: 40px;
    font-style: italic;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyRight{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.left{

}
.policy{
    color: black;
    display: flex;
    gap: 1rem;
}

.policy a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
}