/* *{
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: gray;
    position: relative;
    width: 200px;
    height: 150px;
    left: 50px;
    top: 50px;

}
.box{
    width: 7rem;
    height: 7rem;
}

.box1{
    background-color: aquamarine;
    position: absolute;
    left: 50px;
    top: 100px;
    /* bottom: 40px; */
/* } */
/* h1{ */
    /* background-color: yellow; */
    /* border: 5px solid blue; */
/* } */
/* .box2{ */
    /* background-color: red; */
    /* position: absolute; */
    /* left: 100px; */
    /* top: 100px; */
    /* bottom: 40px; */
/* } */


.main{
    background-color: rgba(194, 239, 127, 0.88);
    width: 90%;
    margin: 50px auto;
}

.box1{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.box2{
    background-color: fuchsia;
    width: 100px;
    height: 100px;
}

.box3{
    background-color: darkorange;
    width: 100px;
    height: 100px;
}

.box4{
    background-color: yellow;
    width: 100px;
    height: 100px;
}
