*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: gray;
    position: relative;
    width: 200px;
    height: 150px;
    left: 50px;
    top: 50px;

}
.box{
    width: 7rem;
    height: 7rem;
}

.box1{
    background-color: aquamarine;
    position: absolute;
    left: 50px;
    top: 100px;
    /* bottom: 40px; */
}

h1{
    background-color: yellow;
    border: 5px solid blue;
}
.box2{
    background-color: red;
    position: absolute;
    left: 100px;
    top: 100px;
    /* bottom: 40px; */
}