@import url(../hc10-variables/css/theme.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-roboto);
}

.container{
    /* border: 2px solid ; */
    max-width: 1200px;
    margin: 2rem auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav img{
    width: 200px;
}

.section-btn{
    /* border: 2px solid blue; */
}

button{
    border: 2px solid var(--red-dark);
    padding: 1rem 1.2rem;
    border-radius: 5px;
    box-shadow: var(--shadow-dark);
    font-family: var(--ff-yeon);
    margin: 1rem 0.5rem;
    white-space: nowrap;
    font-size: var(--fs-lg);
}

button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.btn-light{
    background-color: var(--white);
    color: var(--red-dark);
}

.btn-dark{
    background-color: var(--red-dark);
    color: var(--white);
}



header.hero{
    /* border: 2px solid ; */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: justify;
}

header.hero p,h1{
    line-height: var(--line-h-xl);
}

.section-text{
    /* border: 2px solid ; */
    flex: 2;
}

.section-img{
    /* border: 2px solid ; */
    flex: 1;
}


.section-img img{
    width: 100%;
    min-width: 300px;
}

main .card{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border: 20px;
    box-shadow: var(--shadow-dark);
    margin: 2rem;
    line-height: var(--line-h-xl);

}

main .card:nth-child(even){
    flex-direction: row-reverse;
}

main .card img{
    width: 100%;
}

main article{
    flex: 1;
}
 main p{
    text-align: justify;
 }





/*!MEDIA SORGULARI */
@media screen and (max-width:700px) {
    nav{
        flex-direction: column;
    }
    nav img{
        width: 250px;}
    header.hero{
        flex-direction: column;
    }

    main .card:nth-child(even){
        flex-direction: column;
    }

    main .card{
        flex-direction: column;
    }

    }

@media screen and (max-width:420px) {
    .section-btn{
        display: flex;
        flex-direction: column;
    }
    .section-btn button{
        width: 250px;
        margin: 0.75rem;
        font-size: var(--fs-md);

    }
}