#par1{
background-color: red;
}

#par2{
    background-color: rgb(0, 0, 255);
}

#par3{
    background-color: rgb(0, 255, 0);
}

#par4{
    background-color: rgba(250, 255, 200, 1);
}

#par5{
    background-color: #ff00ff50;
}

#par6{
    background-color: #09a30580;
}

#par7{
    background-color: hsla(240, 100%, 50%, 50);
}